.container{
  
  display:flex;
  flex-direction:row;
 
}



.header{
  width: 10%;
}


.class{
  width: 90%;
}

@media screen and (min-width: 300px) and (max-width: 700px){
  .header{
    width: 20%;
  }
  .class{
    width: 80%;
  }
}